assets/js/Anciennes versions/Bye_sauve_08-02-2025.js
assets/js/Anciennes versions/Bye_sauve_26-01-2025.js
assets/js/Anciennes versions/Bye_sauve_30-01-2025.js
assets/js/Anciennes versions/generateur_sauve_08-02-2025.js
assets/js/Anciennes versions/generateur_sauve_26-01-2025.js
assets/js/Anciennes versions/generateur_sauve_30-01-2025.js
assets/js/Anciennes versions/tournament_original.js
assets/js/Anciennes versions/tournament2 sauve_16-01-2025.js
assets/js/Anciennes versions/tournament2 sauve_25-01-2025.js
assets/js/Anciennes versions/tournament2_sauve_08-02-2025.js
assets/js/Anciennes versions/tournament2_sauve_22-12-2024.js
assets/js/Anciennes versions/tournament2_sauve_26-01-2025.js
assets/js/Anciennes versions/tournament2_sauve_30-01-2025.js
assets/js/propositions AIs/Byes_DeepSeek.js
assets/js/propositions AIs/Byes_GPT-o1_mini_v2-Algo-Génétique-EXPLICATIONS.txt
assets/js/propositions AIs/Byes_GPT-o1_mini_v2-Algo-Génétique.js
assets/js/propositions AIs/Byes_GPT-o1_mini_v2-RecuitSimulé.js
assets/js/propositions AIs/Byes_GPT-o1_v1.js
assets/js/Autres/generateur_liste_noms_csv.js
assets/js/Autres/joueurs.csv
