# Ignorer les fichiers de versions anciennes
assets/js/Anciennes versions/

# Ignorer les propositions d'IA
assets/js/propositions AIs/

# Ignorer les fichiers dans le répertoire Autres
assets/js/Autres/
